<div class="d-flex justify-content-between topHeader">
  <h1>All Departments</h1>
  <a role="button" class="btn addBtn" (click)="openModal(emptyDep)">Add</a>
  <input id="inputSearch" type="text" placeholder="Search.." (input)="search()">
</div>

<table class="table table-bordered table-hover" id="depTable">
  <thead class="tableHead">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Kürzel</th>
  </tr>
  </thead>

  <tbody id="tb">
  <ng-container *ngFor="let dep of selection.selected">
    <tr class="tableRow" (click)="openModal(dep)">
      <td><div [innerHtml]="dep.name | highlighter:searchkey:'partial'"  ></div></td>
      <td><div [innerHtml]="dep.abbreviatedName | highlighter:searchkey:'partial'"  ></div></td>
    </tr>
  </ng-container>
  </tbody>
</table>
