.cNavBar {
  background-color: #35383a;
}

#cMenuLinesDiv > span{
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: white;
}

#cMenuLinesDiv > span:not(:last-child) {
  margin-bottom: 7px;
}

#cMenuLinesDiv , #cMenuLinesDiv > span {
  transition: all .4s ease-in-out;
}

#cMenuLinesDiv.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}

#cMenuLinesDiv.active > span:nth-child(2) {
  width: 0;
}

#cMenuLinesDiv.active > span:nth-child(1), #cMenuLinesDiv.active > span:nth-child(3) {
  transition-delay: .4s;
}

#cMenuLinesDiv.active > span:nth-child(1) {
  transform: translateY(9px);
}

#cMenuLinesDiv.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}

.cMenuLinesDiv {
  margin: 10px 5px 0px 0px;
  cursor: pointer;
  display: inline-block;
}

.cLogoDiv {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.cLogo {
  height: 40px;
  padding: 1px;
}

.cSymbol {
  cursor: pointer;
  margin: 5px;
}

.cSymbolImg {
  background-color: white;

  border-radius: 50%;
  border: 3px solid white;

  height: 42px;
  width: 42px;
}

.sideNavList {
  width: 200px;
}
