<nav class="navbar cNavBar">
  <div class="container-fluid">
    <div>
      <div class="cMenuLinesDiv">
        <div id="cMenuLinesDiv" (click)="sideNavIsOpen(true); sidenav.toggle()" [class.active]="classApplied">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="cLogoDiv">
        <a class="navbar-brand h1" routerLink="/">
          <img class="cLogo" src="../../../assets/Logo/ShiPla_Logo.svg" alt="ShiPla"/>
        </a>
      </div>
    </div>

    <div>
      <a class="cSymbol">
        <img *ngIf="!notificationAvailable" class="cSymbolImg" src="../../../assets/NotificationBell/Notification_Bell.svg" alt="Notification Bell"/>
        <img *ngIf="notificationAvailable" class="cSymbolImg" src="../../../assets/NotificationBell/Notification_Bell_Ring.svg" alt="Notification Bell"/>
      </a>

      <a class="cSymbol">
        <img *ngIf="!isProfilePictureSet()" class="cSymbolImg" src="../../../assets/ProfilPicture/Base_Profil_Picture.svg" alt="Profile Picture"/>
        <img *ngIf="isProfilePictureSet()" id="ProfilePicture" class="cSymbolImg" [src]="getProfilePicture()" alt="Profile Picture"/>
      </a>
    </div>
  </div>
</nav>

<mat-sidenav-container>
  <mat-sidenav #sidenav (closed)="sideNavIsOpen(false);">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/shift'"> Schichten Übersicht </a>
      <a mat-list-item [routerLink]="'/emps'"> Mitarbeiter Liste </a>
      <a mat-list-item [routerLink]="'/deps'"> Abteilungs Liste </a>
      <a mat-list-item [routerLink]="'/holiday'"> Urlaub </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="sideNavIsOpen(true); sidenav.toggle()">Schließen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
