<div xmlns="http://www.w3.org/1999/html">
  <div class="col-4">
    <a role="button" class="btn baseBtn cancelBtn" (click)="close()">Close</a>
  </div>
</div>

<div class="row">
  <div class="col-5"></div>
  <div class="col-2">
    <input class="circle" type="text" id="abbNameInputExists" name="abbNameInput" value="{{activeEmp.base64ProfilePic}}" disabled>
  </div>
  <div class="col-5"></div>
</div>
<div class="row">
  <div class="col-12">
    <input class="nameInput" type="text" id="firstNameInputExists" name="nameInput" value="{{activeEmp.firstName}}" disabled>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input class="nameInput" type="text" id="lastNameInputExists" name="nameInput" value="{{activeEmp.lastName}}" disabled>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input class="nameInput" type="text" id="emailInputExists" name="nameInput" value="{{activeEmp.email}}" disabled>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input class="nameInput" type="text" id="phoneInputExists" name="nameInput" value="{{activeEmp.phone}}" disabled>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input class="nameInput" type="text" id="depNameInputExists" name="nameInput" value="leer" disabled>
  </div>
</div>
