<h1> Urlaub </h1>


<button mat-raised-button (click)="switchUserAdmin()">switchUserAdmin</button>
<button mat-raised-button (click)="switchUser()">switchUser</button>

<ng-container [ngSwitch]="display">
  <div *ngSwitchCase="'user'">
    <div class="datePickerSpace">
      <!-- startdate picker -->
      <mat-label ></mat-label>
      <input matInput (dateChange)="closeStartPicker($event, startpicker)" [matDatepicker]="startpicker" placeholder="Start Datum">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker ></mat-datepicker>
      <!-- enddate picker -->
      <input matInput (dateChange)="closeEndPicker($event, endpicker)" [matDatepicker]="endpicker" placeholder="End Datum">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker ></mat-datepicker>

      <button mat-raised-button (click)="startrequest()">Anfragen</button>
    </div>



    <div class="outputTable">
      <p>Tjark: Problem</p>
<!--      <table mat-table [dataSource]="data" class="mat-elevation-z8">-->

<!--        &lt;!&ndash; Vocation Start Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="vocationStart">-->
<!--          <th mat-header-cell *matHeaderCellDef> Vocation Start </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.holiday.startDate.toDateString()}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Vocation End Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="vocationEnd"><th mat-header-cell *matHeaderCellDef> Vocation End </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.holiday.endDate.toDateString()}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Days Column&ndash;&gt;-->
<!--        <ng-container matColumnDef="days">-->
<!--          <th mat-header-cell *matHeaderCellDef> Days </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.holiday.endDate.getDate()-element.holiday.startDate.getDate()}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; status Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="statuss">-->
<!--          <th mat-header-cell *matHeaderCellDef> Status </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.status}} </td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--      </table>-->
    </div>
  </div>

  <div *ngSwitchCase="'admin'">
    <h1>admin</h1>
    <div class="datePickerSpace">
      <!-- startdate picker -->
      <mat-label ></mat-label>
      <input matInput (dateChange)="closeStartPicker($event, startpicker)" [matDatepicker]="startpicker" placeholder="Start Datum">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker ></mat-datepicker>
      <!-- enddate picker -->
      <input matInput (dateChange)="closeEndPicker($event, endpicker)" [matDatepicker]="endpicker" placeholder="End Datum">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker ></mat-datepicker>

      <button mat-raised-button (click)="startrequest()">Anfragen</button>
    </div>



    <div class="outputTable">
      <p>Tjark: Problem</p>
<!--      <table mat-table [dataSource]="data" class="mat-elevation-z8">-->

<!--        &lt;!&ndash; Vocation Start Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="vocationStart">-->
<!--          <th mat-header-cell *matHeaderCellDef> Vocation Start </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.holiday.startDate.toDateString()}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Vocation End Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="vocationEnd"><th mat-header-cell *matHeaderCellDef> Vocation End </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.holiday.endDate.toDateString()}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Days Column&ndash;&gt;-->
<!--        <ng-container matColumnDef="days">-->
<!--          <th mat-header-cell *matHeaderCellDef> Days </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.holiday.endDate.getDate()-element.holiday.startDate.getDate()}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; status Column &ndash;&gt;-->
<!--        <ng-container [ngSwitch]="statusDisplay">-->
<!--          <div *ngSwitchCase="'normal'">-->
<!--            &lt;!&ndash; status Column &ndash;&gt;-->
<!--            <ng-container matColumnDef="statuss">-->
<!--              <th mat-header-cell *matHeaderCellDef> Status </th>-->
<!--              <mat-cell *matCellDef="let element" >-->
<!--                <div class="trueButton" ><button mat-raised-button (click)="element.status = true; holidayaccepted()">✔</button></div>-->
<!--                <div class="falseButton" ><button mat-raised-button (click)="element.status = false; canceledaccepted()">❌</button></div>-->
<!--              </mat-cell>-->
<!--            </ng-container>-->
<!--          </div>-->
<!--          <div *ngSwitchCase="'accepted'">-->
<!--            &lt;!&ndash; status Column &ndash;&gt;-->
<!--            <ng-container matColumnDef="statuss">-->
<!--              <th mat-header-cell *matHeaderCellDef > Status </th>-->
<!--              <mat-cell *matCellDef="let element" bgcolor=#00FF00 >-->
<!--                <div class="trueButton" ><button mat-raised-button (click)="element.status = true; holidayaccepted();">✔</button></div>-->
<!--                <div class="falseButton" ><button mat-raised-button (click)="element.status = false; canceledaccepted()">❌</button></div>-->
<!--              </mat-cell>-->
<!--            </ng-container>-->
<!--          </div>-->
<!--          <div *ngSwitchCase="'canceled'">-->
<!--            &lt;!&ndash; status Column &ndash;&gt;-->
<!--            <ng-container matColumnDef="statuss">-->
<!--              <th mat-header-cell *matCellDef="let element" Status ></th>-->
<!--              <mat-cell *matCellDef="let element" >-->
<!--                <div class="trueButton" ><button mat-raised-button (click)="element.status = true; holidayaccepted()">✔</button></div>-->
<!--                <div class="falseButton" ><button mat-raised-button (click)="element.status = false; canceledaccepted()">❌</button></div>-->
<!--              </mat-cell>-->
<!--            </ng-container>-->
<!--          </div>-->
<!--        </ng-container>-->


<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--      </table>-->
    </div>
  </div>
</ng-container>

