table {
  width: 100%;
}

.showRemainingHoliday{
  display: inline;
  border: 1px solid black;
  text-align: right;
  margin-right: 60%;
  margin-left: 30%;
  padding-right: 6px;
}

.datePickerSpace {
  display: inline-block;
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;

}

.outputTable {
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
}

.circle {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  margin-top: 10px;
  outline: none;
  border: 1px solid black;
  font-size: 11px;

}
