table {
  width: 100%;
}

.showRemainingHoliday{
  display: inline;
  border: 1px solid black;
  text-align: right;
  margin-right: 60%;
  margin-left: 30%;
  padding-right: 6px;
}

.datePickerSpace {
  display: inline-block;
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;

}

.outputTable {
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
}
