
<div class="datePickerSpace">
    <!-- input Field -->
  <form (submit)="chosenPorson(person.value)">
    <input #person placeholder="person name">
  </form>

  <!-- startdate von dem Tag wo ich meinen (als eingelogten user) tauschen will -->
  <mat-label > </mat-label>
  <input matInput (dateChange)="loggedinUserDate($event, startpicker)" [matDatepicker]="startpicker" placeholder="Meine Schicht">
  <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
  <mat-datepicker #startpicker></mat-datepicker>

  <!-- startdate vom dem User wo ich sie von haben wil picker -->
  <mat-label > </mat-label>
  <input matInput (dateChange)="closePicker($event, endpicker)" [matDatepicker]="endpicker" placeholder="Tauschen mit">
  <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
  <mat-datepicker #endpicker></mat-datepicker>

  <button mat-raised-button (click)="sendRequest()">Senden</button>
</div>



<div class="outputTable">
  <table mat-table [dataSource]="this.allRequest" class="mat-elevation-z8">

    <!-- swapdate Column -->
    <ng-container matColumnDef="swapDate">
      <th mat-header-cell *matHeaderCellDef> Swap Date </th>

      <td mat-cell *matCellDef="let element"> {{element.swapDate}} </td>
    </ng-container>

    <!-- currentShift Column -->
    <ng-container matColumnDef="currentShift">
      <th mat-header-cell *matHeaderCellDef> Current Shift </th>
      <td mat-cell *matCellDef="let element"> {{element.currentShift}} </td>
    </ng-container>

    <!-- requestedShift Column -->
    <ng-container matColumnDef="requestedShift">
      <th mat-header-cell *matHeaderCellDef> Requested Shift </th>
      <td mat-cell *matCellDef="let element"> {{element.requestedShift}} </td>
    </ng-container>

    <!-- Requester Column -->
    <ng-container matColumnDef="requester">
      <th mat-header-cell *matHeaderCellDef> Requester </th>
      <td mat-cell *matCellDef="let element"> {{element.requester}} </td>
    </ng-container>

    <!-- checkBox Column -->
    <ng-container matColumnDef="checkBox">
      <mat-header-cell  *matHeaderCellDef > checkBox </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <div class="okButton" ><button mat-raised-button (click)=" this.okButton();">✔</button></div>
        <div class="declinedButton"><button  mat-raised-button (click)=" this.declinedButton()">❌</button></div>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

