<div *ngIf="selectedEmployee">
  <div class="cBaseMargin">
    <h1>Profil</h1>
    <section class="cFirstLayout">
      <div class="cProfilePictureDiv">
        <a class="cSymbol">
          <img *ngIf="!isProfilePictureSet()" class="cSymbolImg" src="../../../assets/ProfilPicture/Base_Profil_Picture.svg" alt="Profile Picture"/>
          <img *ngIf="isProfilePictureSet()" id="ProfilePicture" class="cSymbolImg" [src]="getProfilePicture()" alt="Profile Picture"/>
        </a>

        <div class="cProfilePictureButtonsDiv" [hidden]="!(adminView || loggedInUserView)">
          <input [hidden]="!loggedInUserView" type="file" (change)="onChange_OpenProfilePicture($event)" accept="image/*"/>
          <button [hidden]="!(adminView || loggedInUserView)" (click)="this.selectedEmployee.base64ProfilePic = ''">Bild entfernen</button>
        </div>
      </div>

      <div class="cDetailsDiv">
        <div class="cDetailsFlex" [hidden]="!(adminView || loggedInUserView)">
          <label class="cDetailsFlex-item cDetailsLabel">Personalnummer: </label>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.id!" readonly/>
        </div>
        <div class="cDetailsFlex">
          <label class="cDetailsFlex-item cDetailsLabel">Nachname: </label>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.lastName" [readonly]="!adminView" required/>
        </div>
        <div class="cDetailsFlex">
          <label class="cDetailsFlex-item cDetailsLabel">Vorname: </label>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.firstName" [readonly]="!adminView" required/>
        </div>
        <div class="cDetailsFlex" [hidden]="!(adminView || loggedInUserView)">
          <label class="cDetailsFlex-item cDetailsLabel">Straße / Hausnummer: </label>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.street" [readonly]="!adminView" required/>
        </div>
        <div class="cDetailsFlex" [hidden]="!(adminView || loggedInUserView)">
          <label class="cDetailsFlex-item cDetailsLabel">Postleitzahl / Ort: </label>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.zipcode" [readonly]="!adminView" required/>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.city" [readonly]="!adminView" required/>
        </div>
        <div class="cDetailsFlex">
          <label class="cDetailsFlex-item cDetailsLabel">E-Mail: </label>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.email" [readonly]="!adminView" required/>
        </div>
        <div class="cDetailsFlex">
          <label class="cDetailsFlex-item cDetailsLabel">Telefon: </label>
          <input type="text" class="cDetailsFlex-item" [(ngModel)]="selectedEmployee.phone" [readonly]="!adminView" required/>
        </div>
      </div>
    </section>
  </div>

  <div class="cSplitterLine" [hidden]="!loggedInUserView"></div>

  <div class="cBaseMargin" [hidden]="!loggedInUserView">
    <h3>Präferenzen</h3>
    <select name="preferenceCombobox" class="cPreferenceCombobox" [(ngModel)]="this.selectedEmployee.preferredShiftType" [style.background-color]="this.selectedEmployee.preferredShiftType?.shiftTypeColor">
      <option *ngFor="let shiftType of this.allShiftTypes" [ngValue]="shiftType" [style.background-color]="shiftType.shiftTypeColor">
        {{shiftType.typeName}}
      </option>
    </select>
  </div>

  <div class="cSplitterLine" [hidden]="!(adminView || loggedInUserView)"></div>

  <div class="cBaseMargin" [hidden]="!(adminView || loggedInUserView)">
    <h3>Passwort</h3>
    <form id="passowrdForm">
      <div class="cPasswordFields" [hidden]="!loggedInUserView">
        <div class="cPasswordSingle">
          <label>Neues Passwort: </label>
          <input type="password" placeholder="Neues Passwort" name="NewPasswordInput" class="cPasswordInput" [(ngModel)]="newPassword" [required]="checkRequired"/>
        </div>
        <div class="cPasswordSingle">
          <label>Neues Passwort wiederholen: </label>
          <input type="password" placeholder="Neues Passwort wiederholen" name="NewPasswordAgainInput" class="cPasswordInput" [(ngModel)]="newPasswordAgain" [required]="checkRequired"/>
        </div>
      </div>

      <div class="cPasswordFields" [hidden]="!(adminView && !loggedInUserView)">
        <div class="cPasswordSingle">
          <label>Neues Passwort: </label>
          <input type="text" class="cPasswordInput" name="NewRadnomPasswordInput" [(ngModel)]="newPassword" readonly/>
        </div>
        <button (click)="onClick_GeneratePassword()"> Passwort Generieren</button>
      </div>
    </form>
  </div>

  <div class="cSplitterLine" [hidden]="!(adminView || loggedInUserView)"></div>

  <div class="cSaveAllChanges cBaseMargin" [hidden]="!(adminView || loggedInUserView)">
    <button (click)="onClick_SaveAllChanges()">Änderungen speichern</button>
  </div>
</div>

<div *ngIf="!selectedEmployee">
  <h1>Profilseite von dem Benutzer konnte nicht gefunden werden!</h1>
</div>
