<h1 class="cHeader">Anmeldung</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="cCenterDiv">
    <input id="usernameInput" type="text" class="cInput" placeholder="Benutzername" required formControlName="username"/>
    <label for="usernameInput" class="cAccessibilityHiddenLabel">Benutzername: </label>
  </div>

  <div class="cCenterDiv">
    <input id="passwordInput" type="password" class="cInput" placeholder="Passwort" required formControlName="password"/>
    <label for="passwordInput" class="cAccessibilityHiddenLabel">Passwort: </label>
  </div>

  <div class="cCenterDiv">
    <input id="autoLoginCheckbox" type="checkbox" class="cCheckbox cPointer" (change)="onAutoLoginCheck($event)" />
    <label class="cPointer" for="autoLoginCheckbox">Automatisch einloggen?</label>
  </div>

  <div class="cCenterDiv">
    <button type="submit" class="cButton">Login</button>
  </div>
</form>
