<div class="row">
  <div class="col-3"></div>
  <div class="col-3">
    <a role="button" class="btn baseBtn cancelBtn" (click)="cancel()">Cancel</a>
  </div>
  <div class="col-3" *ngIf="activeDep">
    <a role="button" class="btn baseBtn saveBtn" (click)="saveEmp()">Save</a>
  </div>
  <div class="col-3" *ngIf="!activeDep">
    <a role="button" class="btn baseBtn saveBtn" (click)="saveEmp()">Add</a>
  </div>
  <div *ngIf="activeDep" class="col-3">
    <a role="button" class="btn baseBtn deleteBtn" (click)="deleteEmp()">Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-5"></div>
  <div class="col-2">
    <a class="cSymbol">
<!--      <img *ngIf="activeDep.abbreviatedName == ''" class="cSymbolImg" src="../../../assets/ProfilPicture/Base_Profil_Picture.svg" alt="Profile Picture"/>-->
<!--      <img *ngIf="activeDep.abbreviatedName != ''" id="ProfilePicture" class="cSymbolImg" [src]="safeProfilePicture" alt="Profile Picture"/>-->
      <img src="{{activeDep.abbreviatedName}}" alt="Red dot"/>
    </a>
  </div>
  <div class="col-5"></div>
</div>

<div class="row">
  <div class="col-12">
    <h2>{{activeDep.name}}</h2>
  </div>
  <div class="cBorder order-2"></div>
  <div class="order-3 baseQualifications">
    <table class="table table-light table-striped table-hover">
      <thead>
      <tr>
        <th class="qualiHeaderLabel">
          <a>Employees: </a>
        </th>
        <th class="qualiBtn">
          <div class="baseQualiBtn addBtn" *ngIf="activeDep">
            <a (click)="openModal()">
              <span>Add</span>
            </a>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let employee of activeDep.employees">
        <tr>
          <td class="qualiLabel" routerLink="/employee/edit/{{employee.firstname}}">
            <p>{{employee.firstname}}, {{employee.lastname}}</p>
          </td>
          <td class="qualiBtn">
            <div class="baseQualiBtn removeBtn">
              <a (click)="deleteQual()">
                <span>Remove</span>
              </a>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <h2 *ngIf="!activeDep.employees">First add the employee to edit the qualifications!</h2>
  </div>
</div>
