<div xmlns="http://www.w3.org/1999/html">
  <div class="row" *ngIf="isOld && isAdmin">
    <div class="col-4">
      <a role="button" class="btn baseBtn cancelBtn" (click)="close()">Cancel</a>
    </div>
    <div class="col-4">
      <a role="button" class="btn baseBtn saveBtn" (click)="save()">Save</a>
    </div>
    <div class="col-4">
      <a role="button" class="btn baseBtn deleteBtn" (click)="delete()">Delete</a>
    </div>
  </div>
  <div class="row" *ngIf="!isOld && isAdmin">
    <div class="col-4">
      <a role="button" class="btn baseBtn cancelBtn" (click)="close()">Cancel</a>
    </div>
    <div class="col-4">
      <a role="button" class="btn baseBtn saveBtn" (click)="save()">Add</a>
    </div>
    <div class="col-4"></div>
  </div>
</div>


<div *ngIf="!isOld && isAdmin">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <a role="button" class="btn cancelBtn" (click)="addShifts()">Schicht hinzufügen</a>
    </div>
    <div class="col-4"></div>
  </div>
  <table id="adminDepTable">
  </table>
  <br><br>
</div>

<div *ngIf="!isOld || isAdmin">
  <div class="row">
    <table>
      <tr>
        <td class="tdLabelName">
          Abteilungskürzel:
        </td>
        <td>
          <input class="inputSetName" type="text" id="abbNameInputNew" value="{{activeDep.abbreviatedName}}">
        </td>
      </tr>
      <tr>
        <td class="tdLabelName">
          Abteilungsname:
        </td>
        <td>
          <input class="inputSetName" type="text" id="nameInputNew" value="{{activeDep.name}}">
        </td>
      </tr>
      <tr>
        <td class="tdLabelName">
          Vorname Führungskraft:
        </td>
        <td>
          <input class="inputSetName" type="text" id="leadEmpFirstNameInputNew">
        </td>
      </tr>
      <tr>
        <td class="tdLabelName">
          Nachname Führungskraft:
        </td>
        <td>
          <input class="inputSetName" type="text" id="leadEmpLastNameInputNew">
        </td>
      </tr>

    </table>
  </div>
</div>

<div *ngIf="isOld && !isAdmin">
  <div class="row">
    <div class="col-5"></div>
    <div class="col-2">
      <input class="circle" type="text" id="abbNameInputExists" name="abbNameInput" value="{{activeDep.abbreviatedName}}" disabled>
    </div>
    <div class="col-5"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <input class="nameInput" type="text" id="nameInputExists" name="nameInput" value="{{activeDep.name}}" disabled>
    </div>
  </div>
</div>

<div class="row">
  <div class="cBorder order-2"></div>
  <div class="order-3 baseQualifications">
    <table class="table table-light table-striped table-hover">
      <thead>
      <tr>
        <th class="qualiHeaderLabel">
          <a>Employees: </a>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let employee of activeDep.employees">
        <tr>
          <td class="qualiLabel">
            <p>{{employee.lastName}}, {{employee.firstName}}</p>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <h2 *ngIf="!activeDep.employees">First add the employee!</h2>
  </div>
</div>
