<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-3"></div>
  <div class="col-3">
    <a role="button" class="btn baseBtn cancelBtn" (click)="close()">Cancel</a>
  </div>
  <div class="col-3" *ngIf="activeDep.departmentId">
    <a role="button" class="btn baseBtn saveBtn" (click)="save()">Save</a>
  </div>
  <div class="col-3" *ngIf="!activeDep.departmentId">
    <a role="button" class="btn baseBtn saveBtn" (click)="save()">Add</a>
  </div>
  <div *ngIf="activeDep" class="col-3">
    <a role="button" class="btn baseBtn deleteBtn" (click)="delete()">Delete</a>
  </div>
</div>

<div class="row" *ngIf="activeDep.departmentId">
  <div class="col-5"></div>
  <div class="col-2">
    <input class="circle" type="text" id="abbNameInputExists" name="abbNameInput" value="{{activeDep.abbreviatedName}}" disabled>
  </div>
  <div class="col-5"></div>
</div>
<div *ngIf="!activeDep.departmentId">
  <div class="row">
    <tr>

    </tr>




    <div class="col-4">
      <p class="nameNew">Abteilungskürzel: </p>
    </div>
    <div class="col-8">
      <input class="nameNew" type="text" id="abbNameInputNew" name="nameInput" value="{{activeDep.name}}">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="nameNew">Abteilungsname: </p>
    </div>
    <div class="col-8">
      <input class="nameNew" type="text" id="nameInputNew" name="nameInput" value="{{activeDep.name}}" disabled>
    </div>
  </div>
</div>

<div class="col-12" *ngIf="activeDep.departmentId">
  <input class="nameInput" type="text" id="nameInputExists" name="nameInput" value="{{activeDep.name}}" disabled>
</div>
<div class="row">
  <div class="cBorder order-2"></div>
  <div class="order-3 baseQualifications">
    <table class="table table-light table-striped table-hover">
      <thead>
      <tr>
        <th class="qualiHeaderLabel">
          <a>Employees: </a>
        </th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let employee of activeDep.employees">
        <tr>
          <td class="qualiLabel">
            <p>{{employee.lastName}}, {{employee.firstName}}</p>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <h2 *ngIf="!activeDep.employees">First add the employee to edit the qualifications!</h2>
  </div>
</div>
